<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../component/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../../component/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../component/css/tab.css" />
  </head>
  <body>
    <div class="layui-row b-gray">
      <div class="layui-card layui-col-md3 layui-col-xs6 l-p5 b-gray">
        <div class="layui-card-header align-c white">今日访问</div>
        <div class="layui-card-body white">
          <div class="ccc align-c">110.34</div>
          <div class="bbb align-c">1</div>
        </div>
      </div>

      <div class="layui-card layui-col-md3 layui-col-xs6 p-5 b-gray">
        <div class="layui-card-header align-c white">提交次数</div>
        <div class="layui-card-body white">
          <div class="ccc align-c">110.34</div>
          <div class="bbb align-c">1</div>
        </div>
      </div>

      <div class="layui-card layui-col-md3 layui-col-xs6 p-5 b-gray">
        <div class="layui-card-header align-c white">下载数量</div>
        <div class="layui-card-body white">
          <div class="ccc align-c">110.34</div>
          <div class="bbb align-c">1</div>
        </div>
      </div>

      <div class="layui-card layui-col-md3 layui-col-xs6 p-5 b-gray">
        <div class="layui-card-header align-c white">流量统计</div>
        <div class="layui-card-body white">
          <div class="ccc align-c">110.34</div>
          <div class="bbb align-c">1</div>
        </div>
      </div>
    </div>
    <div class="layui-row b-gray">
      <div class="layui-col-md9 layui-col-xs9 b-gray b-gray">
        <div class="white  h-438" style="width:calc(100% - 5px);">
          <img src="../../component/img/table-1.png" style="height:400px ; width:calc(100% - 51px); padding: 20px;">
        </div>

      </div>
      <div class="layui-col-md3 layui-col-xs3 b-gray p-5">
        <div class="layui-card">
          <div class="layui-card-header">更新</div>
          <div class="layui-card-body">
            <li class="list-item">
              <span>优化代码格式</span>
              <span>2021-09-06 11:28</span>
            </li>
            <li class="list-item">
              <span>优化代码格式</span>
              <span>2021-09-06 11:28</span>
            </li>
            <li class="list-item">
              <span>优化代码格式</span>
              <span>2021-09-06 11:28</span>
            </li>
            <li class="list-item">
              <span>优化代码格式</span>
              <span>2021-09-06 11:28</span>
            </li>
            <li class="list-item">
              <span>优化代码格式</span>
              <span>2021-09-06 11:28</span>
            </li>
            <li class="list-item">
              <span>优化代码格式</span>
              <span>2021-09-06 11:28</span>
            </li>
            <li class="list-item">
              <span>优化代码格式</span>
              <span>2021-09-06 11:28</span>
            </li>
            <li class="list-item">
              <span>优化代码格式</span>
              <span>2021-09-06 11:28</span>
            </li>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="layui-row">
        <div class="layui-col-xs12 layui-col-md9 m-10-top">
          <div class="layui-card w-calc-5">
            <div class="layui-card-header">动态</div>
            <div class="layui-card-body p-15-sx">
              <li class="h-50 answer">
                <div class="left">
                  <img src="../../component/img/avatar.jpg" class="w-32">
                </div>
                <div class="left m-15-left">
                  <p><span>七彩枫叶</span> 在 <span class="pear-text">Pear Admin 专区</span> 回答问题</p>
                  <span class="plate-color">几秒前</span>
                </div>
              </li>
              <li class="h-50 answer">
                <div class="left">
                  <img src="../../component/img/avatar.jpg" class="w-32">
                </div>
                <div class="left m-15-left">
                  <p><span>七彩枫叶</span> 在 <span class="pear-text">Pear Admin 专区</span> 回答问题</p>
                  <span class="plate-color">几秒前</span>
                </div>
              </li>
              <li class="h-50 answer">
                <div class="left">
                  <img src="../../component/img/avatar.jpg" class="w-32">
                </div>
                <div class="left m-15-left">
                  <p><span>七彩枫叶</span> 在 <span class="pear-text">Pear Admin 专区</span> 回答问题</p>
                  <span class="plate-color">几秒前</span>
                </div>
              </li>
              <li class="h-50 answer">
                <div class="left">
                  <img src="../../component/img/avatar.jpg" class="w-32">
                </div>
                <div class="left m-15-left">
                  <p><span>七彩枫叶</span> 在 <span class="pear-text">Pear Admin 专区</span> 回答问题</p>
                  <span class="plate-color">几秒前</span>
                </div>
              </li>
              <li class="h-50 answer">
                <div class="left">
                  <img src="../../component/img/avatar.jpg" class="w-32">
                </div>
                <div class="left m-15-left">
                  <p><span>七彩枫叶</span> 在 <span class="pear-text">Pear Admin 专区</span> 回答问题</p>
                  <span class="plate-color">几秒前</span>
                </div>
              </li>
              <li class="h-50 answer">
                <div class="left">
                  <img src="../../component/img/avatar.jpg" class="w-32">
                </div>
                <div class="left m-15-left">
                  <p><span>七彩枫叶</span> 在 <span class="pear-text">Pear Admin 专区</span> 回答问题</p>
                  <span class="plate-color">几秒前</span>
                </div>
              </li>

            </div>
          </div>
        </div>

        <div class=" layui-col-md3 m-10-top">
          <div class="layui-card w-calc-10 m-5-left">
            <div class="layui-card-header">链接</div>
            <div class="layui-card-body">
              <div class="">
                <a href="http://www.pearadmin.com/" target="_Blank"><button type="button"
                    class="layui-btn layui-btn-fluid layui-btn-normal"
                    style="margin-top: 8px;height: 50px; line-height: 50px;">官网</button></a>
              </div>

              <div class="">
                <a href="https://gitee.com/pear-admin/Pear-Admin-Layui" target="_Blank"><button type="button"
                    class="layui-btn layui-btn-fluid layui-btn-warm"
                    style="margin-top: 8px;height: 50px; line-height: 50px;">下载</button></a>
              </div>

              <div class="">
                <a href="https://gitee.com/pear-admin/Pear-Admin-Boot" target="_Blank"> <button type="button"
                    class="layui-btn layui-btn-fluid layui-btn-danger"
                    style="margin-top: 8px;height: 50px; line-height: 50px;">后端</button></a>
              </div>

            </div>
          </div>
          <div class="layui-card w-calc-10 m-5-left">
            <div class="layui-card-header">寄语</div>
            <div class="layui-card-body" style="line-height: 40px;">
              原想将澎湃的爱平平稳稳放置你手心，奈何我徒有一股蛮劲，只顾向你跑去，一个不稳跌的满身脏兮兮。试图爬起的我， 心想你会不会笑我 " 献爱献的这样笨拙, 怎么不知避开爱里的埋伏 "
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
<script src="../../component/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../component/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="../../component/jquery/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../component/js/iframe.js" type="text/javascript" charset="utf-8"></script>
<script>
  layui.use(['form', 'table', 'layer'], function() {
    var form = layui.form;
    var table = layui.table;
    var layer = layui.layer;

  });
</script>
<style>
  .ccc {
    display: inline-block;
    width: 178px;
    height: 60px;
    line-height: 60px;
    font-size: 29px;
    border-right: 1px solid #eceff9;
  }

  .bbb {
    display: inline-block;
    width: 90px;
  }

  .p5 {
    padding: 5px;
  }

  .p10 {
    padding: 10px
  }

  .p-5 {
    padding: 0 5px;
  }

  .l-p5 {
    padding-right: 5px;
  }

  .list-item {
    height: 31.8px;
    line-height: 31.8px;
    color: gray;
    padding: 5px;
    padding-left: 15px;
    border-radius: 4px;
    margin-top: 5.2px;
  }

  .layui-card {
    margin-bottom: 10px;
  }

  .w-32 {
    width: 32px;
    height: 32px;
  }

  .h-50 {
    height: 50px;
  }

  .answer {
    padding: 15px 0;
    border-bottom: 1px solid #EEE;
    display: -webkit-flex;
    display: flex;
  }

  .pear-text {
    color: #2d8cf0 !important;
  }

  .plate-color {
    color: #BBB;
  }

  .m-15-left {
    margin-left: 15px;
  }

  .m-5-left {
    margin-left: 5px;
  }

  .p-15-sx li {
    padding: 15px;
  }

  .m-10-top {
    margin-top: 10px;
  }

  .w-calc-5 {
    width: calc(100% - 5px);
  }

  .w-calc-10 {
    width: calc(100% - 10px);

  }

  .layui-btn-fluid a {
    color: #FFFFFF;
  }

  .white-font {
    color: #FFFFFF;
  }
</style>
